/node_modules
/public/hot
/public/storage
/public/js
/public/css/*.css
/public/css/*.map
/public/css/*.gz
/public/images/*
/public/images/*.gif
/public/uploads/avatars/*
/public/fonts/
/public/stats.html
/storage/*.key
/vendor
/public/*.js
/public/*.js.map
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
2.0.1)
3.3.0)
3.129.0)
@php
composer
php
v6.0.4)
