@import '~normalize.css/normalize.css';
@import '~element-ui/lib/theme-chalk/index.css';
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'btn';
@import 'laravue';
@import url('https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css');

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

// main-container padding
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 5px;
}

.el-pagination .el-select .el-input {
  width: 150px;
}

/* is used to set the inner spacing of the current page element global table */
.el-table__row td{
  padding: 0;
}
/* is used to set the current page element global table. The background color when a line is selected*/
.el-table__body tr.current-row>td,
.el-table__body tr.current-row.warning-row>td,
.el-table__body tr.current-row.success-row>td,
.el-table__body tr.current-row.finish-row>td{
  background-color: #75c6f1 !important;
  /* color: #f19944; */ /* Set the text color, you can choose not to set */
}
/* is used to set the current page element global table. The background color when a line is selected*/
.el-table__body tr.warning-row>td{
  background-color: #F5C2C2 !important;
  /* color: #f19944; */ /* Set the text color, you can choose not to set */
}
/* is used to set the current page element global table. The background color when a line is selected*/
.el-table__body tr.success-row>td{
  background-color: #A0E17F !important;
  /* color: #f19944; */ /* Set the text color, you can choose not to set */
}
/* is used to set the current page element global table. The background color when a line is selected*/
.el-table__body tr.finish-row>td{
  background-color: #79c3e1 !important;
  /* color: #f19944; */ /* Set the text color, you can choose not to set */
}
/* is used to set the current page element global table mouse background color when moving to a line */

.el-table__body tr.hover-row:hover,
.el-table__body tr.hover-row:hover>td,
.el-table__body tr.el-table__row.hover-row:hover>td,
.el-table__body tr.el-table__row--striped.hover-row:hover,
.el-table__body tr.el-table__row--striped.hover-row:hover>td,
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #f19944 !important;
}
/* color: #f19944; */ /* Set the text color, you can choose not to set */
table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
  padding: 0 10px
}

.v-application--wrap {
  min-height: 200px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.v-tabs--vertical>.v-tabs-bar .v-tab {
  justify-content: left !important;
  padding: 16px 16px;
  height: 42px;
  .v-icon {
    font-size: 20px;
    padding-right: 8px;
  }
}
